:root {
  --primary-color: #007bff; /* A nice blue */
  --secondary-color: #6c757d; /* A soft gray */
  --bg-color: #f8f9fa; /* Off-white background */
  --text-color: #343a40; /* Dark gray for text */
  --border-radius: 8px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
}

.hero {
  /* Unsplash Source URL for a random image with specific keywords and size */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/1600/900");
  background-size: cover; /* Image covers the entire container */
  background-position: center; /* Centers the image within the container */
  background-repeat: no-repeat;
  height: 400px; /* Set a specific height for the hero section */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: var(--box-shadow);
}

.hero-content {
  padding: 20px;
}

.hero-content h1 {
  color: white;
  margin-bottom: 10px;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adds a shadow for readability */
}

.hero-content p {
  font-weight: 400;
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main {
  padding: 20px 0;
}

p {
  font-weight: 300;
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: var(--secondary-color);
  padding: 20px;
}

table,
th,
td {
  border-bottom: 1px solid gray;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 6px 10px;
  text-align: left;
}
